h3 {
    font-size: 25 !important;
}

.btn-success:hover {
    background-color: #a371f7;
    animation-duration: 0.5s;
}
canvas {
    animation-name: animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes animation {
    40% {box-shadow: 1px 1px 38px #d2a8ff;}
    10% {box-shadow: 1px 1px 38px #a371f7}
    70% {box-shadow: 1px 1px 38px rgb(94, 201, 236)}
    80% {box-shadow: 1px 1px 38px #2ea043}
    30% {box-shadow: 1px 1px 38px #56d364}
}